/* Geral */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div{
    border: 1px solid #000;
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
}

body{
    flex-direction: column;
    max-height: 100vh;
    padding: 0;
}

/* Cabeçalho */
.header{
    height: 20vh;
    padding: 0;
}

.header>.div1, .header>.div3{
    width: 10%;
    padding: 0;
}

.header>.div1{
    width: 191px;
    justify-content: start;
}

.header>.div3{
    width: 148px;
    justify-content: end;
}

#logoif{
    height: 118.67px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#logoceteia{
    height: 118.67px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header> .div2{
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Navegação */
.links{
    justify-content: end;
}

button{
    padding: 5px;
}

a{
    text-decoration: none;
}

/* Conteúdo */
.content{
    height: 70vh;
    justify-content: center;
}

.content>.info{
    width: 80%;
}

.content>.img{
    width: auto;
}

#alunosif{
    height: 100%;
}

/* Rodapé */
.footer{
    height: 12vh;
    justify-content: center;
    padding: 0;
}

.footer>.div1{
    width: 90%;
}

.footer>.div2{
    width: 128px;
    padding: 0;
    justify-content: end;
}

#logojandy{
    height: 100%;
}